// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color del navbar
$dark: #0f79ea;
$primary: #ed6f0f;
$card-bg: #f3ded8;

$text-dark: #301622;

$bg-info: #f4d01a;

$bg-danger-emphasis: #5e0c15;