// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.card-gradient-body {
    
    background: linear-gradient(180deg, #f4d3d3, #d0e6f1);
}

.text-dark {
    color: $text-dark !important;
}

.bg-info {
    background-color: $bg-info !important;
}

.bg-danger-emphasis {
    background-color: $bg-danger-emphasis !important;
    color: #fafdff;
}

.bg-secondary-bg-subtle {
    background-color: #cfd8eb !important;
    color: #41464b !important;
}

.bg-purple {
    background-color: #a07fde !important;
    color: #fff !important;
}

.bg-discord {
    background-color: #19191a !important;
    
}